*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 95px;
    margin: 0 auto;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-links li{
    margin: 0 10px;
}

.nav-links a{
    font-size: 20px;
    text-decoration: none;
    color: #252627;
    box-sizing: border-box;
}

.logo{
    display: flex;
    width: 30%;
    height: 100%;
    /* border: 1px dashed pink; */
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    /* border: 1px dashed blue; */
}

.date{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    /* border: 1px dashed blue; */
}

.date p{
    padding-left: 8px;
    font-weight: bold;
    text-transform: uppercase;
    /* border: 1px dashed blue; */
}

.image img{
    display: block;
    width: 100%;
}

.nav-toggle-container {
    display: none;
}

.nav-search-container {
    display: none;
}

.nav-drop-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0;
    background-color: darkgrey;
    transition: height 0.15s;
    overflow: hidden;
}

.nav-drop-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
}

.nav-drop-links a {
    height: 70px;
    line-height: 70px;
    text-decoration: none;
    color: white;
    padding: 0 7px;
    border-bottom: 1px solid white;
}

.nav-drop-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-drop-footer p{
    padding: 10px 7px;
    font-size: 14px;
    color: white;
    text-align: center;
}

.small-news-links-bar {
    width: 100%;
    height: 70px;
    border: 1px solid lightgray;
    background-color: #eee;
    box-shadow: 0 2px lightgray;
}

.small-news-links {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.small-news-links-bar a{
    line-height: 70px;
    text-decoration: none;
    font-size: 15px;
    color: rgb(75, 68, 68);
}

.top-four-container {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}

.top-four-container img{
    border-radius: 6px;
    width: 100%;
}

.top-four-container img:hover{
    opacity: 0.7;
    transition: transform 0.5s;
    transform: scale(1.1);
}

.top-four-container a{
    position: relative;
    box-sizing: border-box;
    width: 24%;
    overflow: hidden;
}

.top-four-caption {
    position: absolute;
    width: 100%;
    height: 70px;
    top: calc(100% - 70px);
    left: 0;
    color: white;
    text-align: center;
    line-height: 70px;
    border-radius: 6px;
}

.top-four-caption:hover {
    text-decoration: underline;
}

#caption-1{
    background-color: rgba(0, 100, 0, 0.7);
}

#caption-2{
    background-color: rgba(100, 0, 0, 0.7);
}

#caption-3{
    background-color: rgba(67, 67, 233, 0.7);
}

#caption-4{
    background-color: rgba(231, 134, 6, 0.7);
}

.top-stories-container {
    width: 100%;
    background-color: #eee;
}

.top-stories-container h1{
    width: 60%;
    margin: auto;
}

.top-stories-container div{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}

.top-stories-container figure {
    display: table;
}

.top-stories-container img{
    width: 100%;
    border-radius: 6px;
}

.top-stories-container img:hover{
    opacity: 0.7;
}

.top-stories-container figcaption {
    display: table-caption;
    caption-side: bottom;
    font-weight: bold;
}

.top-stories-container a{
    text-decoration: none;
    width: 23%;
    color: black;
}

@media (max-width: 1400px){
    #remove-first {
        display: none;
    }
}

@media (max-width: 1150px){
    .nav-bar {
        width: 90%;
    }
    .date p{
        font-size: 15px;
        padding-left: 1px;
    }

    .nav-links a{
        font-size: 15px;
        padding: 3px;
    }

    #remove-second {
        display: none;
    }

    .small-news-links{
        width: 90%;
        margin: auto;
    }
    
}

@media (max-width: 620px){
    .nav-bar{
        width: 100%;
        height: 45px;
        box-shadow: 0px 2px #CCC;
    }
    .date {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .logo {
        width: 33%;
        height: 100%;
        justify-content: center;
        box-sizing: border-box;
    }

    .nav-toggle-container {
        display: block;
        width: 33%;
        height: 100%;
        box-sizing: border-box;
    }

    .nav-search-container {
        display: flex;
        justify-content: flex-end;
        width: 33%;
        height: 100%;
        box-sizing: border-box;
    }

    .nav-toggle-btn {
        width: 30px;
        height: 100%;
        background-image: url("./assets/toggle.png");
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .nav-toggle-btn:hover {
        opacity: 0.5;
    }

    .nav-toggle-btn.active {
        background-image: url("./assets/close.png");
        background-color: red;
    }

    .nav-search-btn {
        width: 30px;
        height: 100%;
        background-image: url("./assets/search.png");
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .nav-search-btn:hover {
        opacity: 0.5;
    }

    .small-news-links-bar{
        display: none;
    }
}
